@model IEnumerable<MVCTodoList.Models.ToDoItem>

@{
    ViewData["Title"] = "Index";
}

<h1>ToDo List</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Todo</a>
    <a class="btn btn-secondary  align-items-end" asp-action="CompletedTodos">View Completed Items</a>
</p>

<div class="row row-cols-md-4 g-2 ">
    @foreach (var item in Model)
{
    <div class="col">
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.TaskName)</h5>
            <p class="mb-0">Created: @Html.DisplayFor(modelItem => item.Created)</p>
            <p class="mb-0">Due Date: @Html.DisplayFor(modelItem => item.DueDate)</p>
            <div class="mt-4">
                <a asp-action="Edit" asp-route-id="@item.Id">Update</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    </div>
    </div>
}
</div>


